/* .card{
    width: 500px;
    margin-left: 500px;
    margin-top: 150px;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}
.btn{
    margin-left: 180px;
    width: 500px;
    height: 20px;
    font-size: 10px;
} */